<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Recipes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td scope="row"><%= link_to category.name, recipes_path(:category_id => category.id) %></td>
        <td scope="row"><%= category.description %></td>
        <td scope="row">
          <% if category.recipes.count == 0 %>
            <%= category.recipes.count %>
          <% else %>
            <%= category.recipes.count %>
          <% end %>
        </td>
        <td scope="row"><%= link_to 'Show', category %></td>
        <td scope="row"><%= link_to 'Edit', edit_category_path(category) %></td>
        <td scope="row"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
